.barraNavegacion {
    background-color: #3e3e3f27;
    height: 100px;
    border-bottom: rgba(59, 59, 59, 0.651) 2px solid;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.65);
}

.lista {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 0px;
}

.categoria {
    color: #1b1b97;
    margin-top: 70px;
    font-size: 17px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.categoria::after {
    display: block;
    content:"";
    margin: auto;
    width: 0;
    height: 3px;
    background-color: #f59f00;
    transition: width 0.2s;
}



.categoria:hover::after {
    width: 100%;
}